.classbackground {
    width: 100%;
    height: 100%;
    text-align: center;
    background-image: url("../media/image/textbackgraound.png");
}

.textshow {
    width: 80%;
    height: 80%;
    margin: 10%;
    padding-top: 10%;
}

.textshow h3 {
    font-family: '黑体';
    color: #ffffff;
}

.questionBackgraound {
    background-color: #0b94ea;
}